html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: #0bdab8;
  }
  
  .heading {
    margin-left: 115px;
    color: #ed07cf;
  }
  
  img {
    margin: 0px 0px;
    height: 100%;
    width: 100%;
  }
  
  table {
    border-collapse: collapse;
  }
  
  table td {
    padding: 0;
    margin: 0;
    height: 150px;
    width: 150px;
  }
  
  
  button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    display: block;
    height: 150px;
    width: 100%;
    text-align: left;
  }
  
  button.startbtn {
    color: white;
    height: 40px;
    width: 100px;
    background-color: blue;
    border-radius: 5px;
    position: relative;
    bottom: 35px;
    left: 275px;
  }
  
  #difficulty {
    height: 25px;
    width: 100px;
    background-color: #96d9ce;
    border: none;
    border-radius: 5px;
  }
  
  .results {
    display: flex;
    align-content: space-between;
  }
  
  p {
    font-size: 18px;
  }